.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        text-align: center;
        span, button {
            margin-bottom: 30px;
        }
    }
}